/*Головний колір тексту #212121 */
/*Білий колір #FFFFFF */
/*Другорядний колір тексту #757575 */
/*Кнопка,Web,фокус+ховер #2196F3 */
/*Підвал контакти  rgba(255, 255, 255, 0.6) */


:root {
    --main-color-text:#212121;
    --second-color-text:#757575;
    --colors-style: #2196F3;
    --background-color-main: #F5F5F5;
    --background-color-hero: #2F303A;
    --background-color-team: #F5F4FA;
    --background-color-header: #FFFFFF;
}

/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color-main)
   }

.link{
     text-decoration: none;
}
.list {
    list-style: none;
}
.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
}



/* header styles */
.header-page {
    background-color: #FFFFFF;
}
  .header-logo-studio {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        letter-spacing: 0.03em;
        color: #000000;
    }
.header-logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--colors-style);
    }
  
.header-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-color-text);
}
.header-list-link:hover,
.header-list-link:focus,
.header-contats:hover,
.header-contats:focus {
    color: var(--colors-style);
}
.header-contats {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--second-color-text);
}
/* Hero styles*/
.hero {
    background-color: var(--background-color-hero);
}
.hero-text {

}
.hero-button {

}